<h1>Events</h1>
<h2>Upcoming</h2>
<div *ngFor="let year of years.upcoming">
  <h3>{{year}}</h3>
  <md-card *ngFor="let event of events.upcoming[year]">
    <md-card-subtitle>{{ event.start.dayOfWeek }} {{ event.start.day }} {{ event.start.month }}</md-card-subtitle>
    <md-card-title>{{ event.title }}</md-card-title>
    <md-card-content>
      <table>
        <tr>
          <td><i class="fa fa-lg fa-fw fa-map-marker"></i></td>
          <td>{{event.location}}</td>
        </tr>
        <tr>
          <td><i class="fa fa-lg fa-fw fa-clock-o"></i></td>
          <td>{{event.start.time}}</td>
        </tr>
        <tr>
          <td><i class="fa fa-lg fa-fw fa-ticket"></i></td>
          <td><span [innerHTML]="event.tickets"></span></td>
        </tr>
      </table>
      <div style="text-align:right;font-size:14px">
        <a [routerLink]="['/events', event.id]">More Details <i class="fa fa-arrow-right"></i></a>
      </div>
    </md-card-content>
    <img *ngIf="event.image" md-card-image src="/assets/images/{{event.image}}" alt="">
  </md-card>
</div>

<h2 style="margin-top:48px">Previous</h2>
<div *ngFor="let year of years.previous">
  <h3>{{year}}</h3>
  <md-card *ngFor="let event of events.previous[year]">
    <md-card-subtitle>{{ event.start.dayOfWeek }} {{ event.start.day }} {{ event.start.month }}</md-card-subtitle>
    <md-card-title>{{ event.title }}</md-card-title>
    <md-card-content>
      <table>
        <tr>
          <td><i class="fa fa-lg fa-fw fa-map-marker"></i></td>
          <td>{{event.location}}</td>
        </tr>
        <tr>
          <td><i class="fa fa-lg fa-fw fa-clock-o"></i></td>
          <td>{{event.start.time}}</td>
        </tr>
        <tr>
          <td><i class="fa fa-lg fa-fw fa-ticket"></i></td>
          <td><span [innerHTML]="event.tickets"></span></td>
        </tr>
      </table>
      <div style="text-align:right;font-size:14px">
        <a [routerLink]="['/events', event.id]">More Details <i class="fa fa-arrow-right"></i></a>
      </div>
    </md-card-content>
    <img *ngIf="event.image" md-card-image src="/assets/images/{{event.image}}" alt="">
  </md-card>
</div>