<h1>Events</h1>

<md-card *ngIf="events.upcoming">
  <md-card-title>Upcoming</md-card-title>
  <md-card-content>
    <table style="width:100%">
      <colgroup>
        <col style="width:8em">
        <col>
        <col style="width:8em">
      </colgroup>
      <thead>
        <tr>
          <th>Date</th>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events.upcoming">
          <td>{{event.start.date}}</td>
          <td>{{event.title}}</td>
          <td>
            <a md-button [routerLink]="['/admin/events', event.id]"><i class="fa fa-fw fa-pencil"></i></a>
            <button md-button><i class="fa fa-fw fa-times"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
  <md-card-actions align="end">
    <a md-mini-fab color="accent" [routerLink]="['/admin/events/new']"><md-icon fontIcon="fa-plus"></md-icon></a>
  </md-card-actions>
</md-card>

<md-card *ngIf="events.previous">
  <md-card-title>Previous</md-card-title>
  <md-card-content>
    <table style="width:100%">
      <colgroup>
        <col style="width:8em">
        <col>
        <col style="width:8em">
      </colgroup>
      <thead>
        <tr>
          <th>Date</th>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events.previous">
          <td>{{event.start.date}}</td>
          <td>{{event.title}}</td>
          <td>
            <a md-button [routerLink]="['/admin/events', event.id]"><i class="fa fa-fw fa-pencil"></i></a>
            <button md-button><i class="fa fa-fw fa-times"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>