<h1>Event</h1>
<md-card *ngIf="event">
  <md-card-content>

    <form>

      <md-input-container class="full-width">
        <input md-input placeholder="Title" value="Google">
      </md-input-container>

      <md-input-container class="full-width">
        <input md-input placeholder="Location" value="Google">
      </md-input-container>

      <md-input-container>
        <input md-input type="date" placeholder="Start Date" value="">
      </md-input-container>

      <md-input-container>
        <input md-input type="time" placeholder="Start Time" value="">
      </md-input-container>

      <md-input-container class="full-width">
        <input md-input placeholder="Tickets" value="Google">
      </md-input-container>

      <md-input-container class="full-width">
        <input md-input placeholder="Image" value="">
      </md-input-container>

      <md-input-container class="full-width">
        <textarea md-input placeholder="Description"></textarea>
      </md-input-container>

    </form>
    <!--
    event.title
    event.location
    event.start.time
    event.start.dayOfWeek
    event.start.day
    event.start.month

    event.tickets
    event.image
    event.description
    -->
  </md-card-content>
  <md-card-actions>
    <a md-button [routerLink]="['/admin/events']">Cancel</a>
  </md-card-actions>
</md-card>